	{% load static %}
  <!DOCTYPE html>
	<html>
	<head>
		<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
    <title>
			{%if title%}
				<title>Quiz App-{{title}}</title>
			{%else%}
				<title>Quiz App</title>
			{% endif %}
		</title>
	</head>
	<body>
		<header>
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <h1 style="color:white">QUIZZY</h1>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'blog.home'%}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'blog.about'%}">About </a>
      </li>
      {% if user.is_authenticated %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'blog.quiz_catlog'%}">Quiz</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'blog.questionUpload'%}">Add question</a>
      </li>
      {% endif %}
    </ul>
  </div>
   <div>
    <ul class="navbar-nav mr-auto">
    {% if user.is_authenticated %}
    <li class="nav-item active">
      <a href="{% url 'profile' %}" class="nav-link" rel="stylesheet">Profile</a>
    </li>
      <li class="nav-item active">
      <a href="{% url 'logout' %}" class="nav-link" rel="stylesheet">LogOut</a>
    </li>
    {% else %}
    <li class="nav-item active">
      <a href="{% url 'login' %}" class="nav-link" rel="stylesheet">LogIn </a>
    </li>
      <li class="nav-item active">
      <a href="{% url 'register'%}"  class="nav-link" rel="stylesheet">Register</a>
    </li>
    {% endif %}
  </ul>
</div>
</div>
</nav>
		</header>
	<div>
    {% if messages %}
    {% for message in messages%}
    <div class="alert alert-{{message.tags}}">
      {{ message }}
    </div>
    {% endfor%}
    {% endif %}
		{% block content %}
		{% endblock %}
	</div>
	 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
	</html>