{% extends "blog/base.html" %}
{% block content %}
<br>
<div class="row">
<div class="col-sm-3"></div>
<div class="col-sm-6">
    <h2> Add Quiz</h2>
<form action="./Upload" method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <label for="exampleInputText1" class="form-label">Enter the Category/Name</label>
        <input type="Text" class="form-control" id="exampleInputText1" name="Category" required>
    </div>
      <button type="submit" class="btn btn-block btn-success btn-md">Submit</button>
    </div>
    <br>
    <br>
</form>
</div>
</div>
{% endblock content %}
